<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- fonts logo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/css/navbar.css">

    <script defer src="/public/javascript/navbar.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <title>COOKCHAT</title>
</head>

<body>

    <header>


        <!-- side bar -->
        <!-- <nav class="navbar-sidebar">
            
            <ul class="navbar-sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><img src="/public/images/profile.png" width="27px" height="27px" alt="user profile"><span> Kanna Kamui</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i data-feather="home"></i>Your Threads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i data-feather="plus-square"></i>Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i data-feather="plus"></i>Create New Thread</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">See All</a>
                </li>
               
            </ul>   
        </nav> -->

        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush borderless mx-3 mt-5">
                    
                    <ul class="list-group">
                        <li class="list-group-item borderless list-group-item-action py-2 ripple border-0" aria-current="true">
                            <img src="/public/images/profile.png" width="27px" height="27px" alt="user profile">
                            <span>Kanna Kamui</span>
                        </li>

                        <li class="list-group-item list-group-item-action py-2 ripple active border-0">
                            <img src="/public/images/web-content.png" width="24px" height="24px" alt="your threads">
                            <span>Your Threads</span>
                        </li>

                        <li class="list-group-item list-group-item-action py-2 ripple border-0">
                            <img src="/public/images/Chef.png" width="24px" height="24px" alt="recipes">
                            <span>Recipes</span>
                        </li>

                        <li class="list-group-item list-group-item-action py-2 ripple border-0">
                            <i data-feather="plus"></i><span>Create New Thread</span>
                        </li>

                        <li class="list-group-item list-group-item-action py-2 ripple border-0">
                            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Threads</span>See all
                        </li>

                        <li class="list-group-item list-group-item-action py-2 ripple border-0">
                            <i data-feather="menu"></i><span>Admin Dashboard</span>
                        </li>
                    </ul>
                    <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple borderless" aria-current="true">
                        <img src="/public/images/profile.png" width="27px" height="27px" alt="user profile">
                        <span>Kanna Kamui</span>
                    </a>
                      
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                        <img src="/public/images/web-content.png" width="24px" height="24px" alt="your threads">
                        <span>Your Threads</span>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <img src="/public/images/Chef.png" width="24px" height="24px" alt="recipes">
                        <span>Recipes</span>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i data-feather="plus"></i><span>Create New Thread</span>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Threads</span>See all
                    </a>
                    
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i data-feather="menu"></i><span>Admin Dashboard</span>
                    </a>
                     -->
                </div>
            </div>
        </nav>

        <!-- top bar -->
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#"><img src="/public/images/logo.png" alt="logo">COOKCHAT</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item text-center active">
                        <a class="nav-link" href="javascript:void(0);"><i data-feather="home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i data-feather="plus-square"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i data-feather="bell"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i data-feather="settings"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">
                        <img src="/public/images/profile.png" width="27px" height="27px" alt="user profile">
                        <span> Kanna Kamui</span></a>

                    </li>
                </ul>
            </div>
        </nav>


    </header>

    <main>

    </main>


    <footer>
        

    </footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>



</html>