

.navbar-logo{
    font-size: 1.5rem;
    font-family: 'Cherry Bomb One', sans-serif !important;
    color: #F03167 !important;
    position: relative;
    left: 1rem;
    
	
}

.navbar-logo span{
   padding: 0.3rem;
   position: relative;
   top: 0.5rem;
   left: 0.5rem;
}




.sidebar {
  /* Your existing styles */
  transition: transform 0.3s ease;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.nav-link{
    position: relative;
    top: 2rem;
}

/* side bar */

body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* sidebar */

:root {
  --ig-separator: 219, 219, 219;
}

body {
  font-family: "Poppins", serif;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  /* padding-top: 35px; */
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  /* border-right: 1px solid rgb(var(--ig-separator)); */
  display: flex;
  flex-direction: column;
  z-index: -1;
  font-size: 13px;
}

.sidebar-menu {
  padding: 0 12px 20px 0px;
  margin-top: 20px;
}

.sidebar-menu.bottom {
  flex-grow: 0;
  margin-bottom: 40px;
}

.sidebar-menu li {
  margin-bottom: 5px;
}

.sidebar-menu li a.nav-link {
  border-radius: 10px;
  padding: 16px 20px;
  color: #333333;
  text-decoration: none;
  display: flex;
  align-items: center;

}

.sidebar-menu li a.nav-link.active {
  font-weight: bold;
  background-color: pink;
}

.sidebar-menu li a.nav-link.active img.icon {
  border: 2px solid black;
}

.sidebar-menu li a.nav-link .icon {
  margin-right: 30px;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.sidebar-menu li a.nav-link:hover {
  background-color: #f5f5f5;
}

.sidebar-menu li a.nav-link:hover .icon {
  transform: scale(1.08);
}

.rounded-circle {
  border-radius: 100%;
}

.comunity{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 10px;
}

.comunity a {
    position: relative;
    top: -0.5rem;
    font-size: 0.7rem;

}
/* 
li a{
    font-size: 0.8rem;
    color:#F03167;
}
 li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
    
}

    li .submenu a{ 
        text-decoration: none; 
        color: #333333; 
        display: block; 
        padding: 10px; 
        padding-left: 30px; 
        font-size: 12px; 
    }
    
    li .submenu a:hover{ 
        background-color: #f5f5f5; 
    }
    
    li .submenu a.active{ 
        background-color: #f5f5f5; 
    } */

